<div class="blog">
    <h1>Blog</h1>
    <button>See all <mat-icon>arrow_forward</mat-icon></button>
    
    <div class="full-image">
        <img src="./assets/landing/Blog/Image (7).png" alt="">
     
        <button class="solar">Solar Power</button>
        <button class="solution">Solutions</button>
      
        <h1>Harnessing the Power of the Sun:Exploring <br> the world of Solar Energy </h1>
        <p>Solar energy is revolutionizing the way we power our world. In this blog post, <br>
            we'll delve into the incredible potential of solar technology, its environmental...
        </p>
        <img src="./assets/landing/Blog/Info-Wrapper.png" alt="" class="female">
    </div>
    
     <div class="group-image">
        <img src="./assets/landing/Blog/Post.png" alt="">
        <img src="./assets/landing/Blog/Post (1).png" alt="">
        <img src="./assets/landing/Blog/Post (2).png" alt=""> 
     </div>
</div>
