.blog{
    text-align: center;
}
.blog h1{
    margin-right: 70rem;
}
.blog button{
    margin-left: 70rem;
}
.full-image img{
    margin-right: 30rem;
}


.full-image h1{
    text-align: justify;
    margin-right: 20px;
   
}
.full-image p{
    text-align: justify;
}
.female img{
    margin-left: 40rem;
}
.group-image{
    margin-top: -680px;
    margin-left: 50rem;
}