<
<div class="about">
<h1>About Us</h1>
<p>At Flow, we're committed to a sustiable future.As a poineering <br> <br>
    force in the green enegry sector,we've been at the forefent of <br> <br>
    the trantions to clean, renwable power sources. our mission is <br> <br>
    simple yet profound: to create a world where enegry is not only <br> <br>
    abundant but also envontromentlly responisable.We belive that <br> <br>
    by harneesing the power of nature, we can power the world and <br> <br>
    protect it simultaneously.
</p>
<button >Read more</button>

<div class="about-image">

    <img src="./assets/landing/Image (1).png" alt="" class="solar">
    <img src="./assets/landing/Image (2).png" alt="" class="wall">
    <img src="./assets/landing/Image (3).png" alt="" class="fan">
    <img src="./assets/landing/Image (4).png" alt="" class="gun">
    <img src="./assets/landing/Image (5).png" alt="">
</div>

<div class="about-order">
   <h2 class="cool">5,000 Mwh <br>Renewable Energy Generated</h2>
   <h2 class="feature">2,500+<br>Metric Tons of CO2 Reduced</h2>
   <h2 class="title">10,000+ <br>Customer Served</h2>
   <h2 class="avg">15% <br>Avg. Energy Saved</h2>
</div>



</div>

