.faq{
    background: hsl(350, 47%, 93%);
    height: 150%;
    padding: 30px;
}
.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
    margin-right: 25rem;
 
}
.left .accordion{
    padding: 30px;
    margin-left: 30rem;
    margin-top: -425px;
   
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion p{
    text-align: center;
    opacity: 0.6;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: 50%;
}

.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

.accordion-item-left{
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 1000px;
  
    margin-left: 40rem;
 
}
.accordion-item-left h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item-left p{
    text-align: center;
    opacity: 0.6;
}
.accordion-item-title-left{
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: 50%;
}

.accordion-item-left .accordion-item-title-left {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item-left .accordion-item-desc-left {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item-left input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item-left input[type="checkbox"]:checked ~ .accordion-item-desc-left {
    display: block;
}
.accordion-item-left
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item-left input[type="checkbox"] ~ .accordion-item-title-left .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item-left:left {
    margin-top: 0;
}
.accordion-item-left .icon {
    margin-left: 14px;
}
.container2{
    margin-left: 35rem;
    margin-top: -400px;
}

.still{
    
    text-align: center;
    margin-top: 100px;
}
.still mat-icon{
    background: greenyellow;
    padding: 10px;
    border: 1px solid greenyellow;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}