<div class="team">

    <h1>Meet our experts</h1>
    <p>Our team boast top green engery exports,driving innovation in sustainabilty.</p>
  
   
    
    <div class="arrow">
      <span class="back"> <mat-icon>arrow_back</mat-icon></span>
      <span class="forward"><mat-icon>arrow_forward</mat-icon></span>
    </div>
    

  <div class="group-images">
 <img src="./assets/landing/Team/Team-Item (3).png" alt="" width="350px" height="430px" style="border-radius: 20px;" class="team">
 <img src="./assets/landing/Team/Team-Item (2).png" alt="" width="350px" height="430px" style="border-radius: 20px;" class="team1">
 <img src="./assets/landing/Team/Team-Item (1).png" alt="" class="team2">
 <img src="./assets/landing/Team/Team-Item.png" alt="" width="350px" height="430px" style="border-radius: 20px;" class="team3">

  </div>
 <!--
 
 <img src="./assets/landing/Team/mahi.jpeg" alt="" width="340px" height="430px" style="border-radius: 20px;" class="team">
 <img src="./assets/landing/Team/hr.jpg" alt="" width="340px" height="430px" style="border-radius: 20px;" class="team1">
 <img src="./assets/landing/Team/kri.jpeg" alt="" width="340px" height="430px" style="border-radius: 20px;" class="team2">
 <img src="./assets/landing/Team/charn.jpeg" alt="" width="340px" height="430px" style="border-radius: 20px;" class="team3">

 <img src="./assets/landing/Team/mahi.jpeg" alt="" width="350px" height="430px" style="border-radius: 20px;" class="team">
 <img src="./assets/landing/Team/sai.jpeg" alt="" width="350px" height="430px" style="border-radius: 20px;" class="team1">
 <img src="./assets/landing/Team/Team-Item (1).png" alt="" class="team2">
 <img src="./assets/landing/Team/asif.jpeg" alt="" width="350px" height="430px" style="border-radius: 20px;" class="team3">
  
 <div class="sai">
    
   <mat-card>
    <h2>Sai Kumar</h2>
    <span>Senior Angular Developer</span>
   </mat-card>
   </div>

   <div class="dheeraraj">
    
    <mat-card>
     <h2>Dheeraraj</h2>
     <span>Country Manager</span>
    </mat-card>
    </div>

    
   <div class="asif">
    
    <mat-card>
     <h2>Asif Mohammad</h2>
     <span>Senior Angular Developer</span>
    </mat-card>
    </div>

</div>

    
   <div class="asif">
    
    <mat-card>
     <h2>Asif Mohammad</h2>
     <span>Senior Angular Developer</span>
    </mat-card>
   

</div>

   
<div class="charan">
    
  <mat-card>
   <h2>Charan</h2>
   <span>CEO KRIYA GLOBAL IT SERVICES</span>
  </mat-card>
 
</div>

<div class="karthika">
    
  <mat-card>
   <h2>Karthik</h2>
   <span>Manager KRIYA GLOBAL IT SERVICES</span>
  </mat-card>
 
</div>

<div class="kavya">
    
  <mat-card>
   <h2>Kavya</h2>
   <span>HR Department KRIYA GLOBAL IT SERVICES</span>
  </mat-card>
 
</div>


<div class="mahi">
    
  <mat-card>
   <h2>Mahendra</h2>
   <span>Junior Angular Developer</span>
  </mat-card>
 
</div>


 -->
 
 
   

<div class="green">
  <h1>Join the green <br><br>movement</h1>
  <p>Our commitment to green energy is paving the way for a cleaner, <br>healthier plant.</p>
  <button>Get in touch</button>

  <img src="./assets/landing/Team/Photo.png" alt="">

</div>
