<div class="customer">
<h1>What our customera say</h1>
<p>Thousands of happy customers that changed their energy use</p>

</div>

<div class="card">
   <mat-icon>star</mat-icon>
<mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
    <mat-icon>star</mat-icon>
   
    <h1>"Flow transformed my energy use.Efficient, <br> green tech, outstanding service!"</h1>
    <p>Jenny Wilson</p>
    <span>Solar engery service</span>
</div>
   
<!--

<div class="arrow">
    <span class="back"> <mat-icon>arrow_back</mat-icon></span>
    <span class="forward"><mat-icon>arrow_forward</mat-icon></span>
  </div>
-->    



