.customer{
    text-align: center;
}
.customer h1{
    font-size: 50px;
}
h1{
    margin-top: 100px;
    margin-bottom: 50px;
}
.customer p{
font-size: 15px;
margin-bottom: 100px;
}
.card{
    text-align: center;
    padding: 50px;
    width: 600px;
    margin-left: 20rem;
    border: 1px solid black;
}
 mat-icon{
    margin-left: 20px;
}
span{
    opacity: 0.6;
}
.arrow{
    margin-top: -200px;
    margin-left: 500px;
}
.arrow .back{
    margin-right: 50rem;
}
