<div class="green" >
    
    <h1>Your Source for Green <br> <br>Energy Updates</h1>

    <div class="group-btn"> 
    <input type="email" placeholder="Your-email..">

    <button>Get in touch</button>
    </div>

</div>

<div class="footer-page">
    <div class="box1">
        <img src="https://png.pngtree.com/element_our/png/20181114/money-flow-flat-icon-png_238380.jpg" alt="Logo" class="logo" width="50px" height="50px"/>
       <h1>Flow</h1> 
    </div>
    <div class="box2">
        <h3>Platform</h3>
       <p> <a href="#">Soulations</a></p>
        <p><a href="#">How it works</a></p>
        <p><a href="#">Pricing</a></p>
        
    </div>
    <div class="box3">
        <h3>Company</h3>
        <p><a href="#">About</a></p>
       <p> <a href="#">Our Mission</a></p>
       <p><a href="#">Careers</a></p>
       <p><a href="#">Contact</a></p>
    </div> 
    <div class="box4">
        <h3>Resources</h3>
       <p><a href="#">Blog</a></p> 
       <p><a href="#">Help Center</a></p>
       <p><a href="#">Support</a></p>
    </div>
   
    <div class="box5">
       <p><a href="https://www.facebook.com/"> <img src="./assets/landing/Blog/facebook.png" alt="" width="20px" height="20px" style="background-color:greenyellow; padding: 10px; border-radius: 20px;"> Follws us on Facebook</a></p>
       <p><a href="https://www.instagram.com/"> <img src="./assets/landing/Blog/instagram.png" alt="" width="20px" height="20px" style="background-color:greenyellow; padding: 10px; border-radius: 20px;"> Follws us on Instagram</a></p>
       
       <p><a href="https://www.linkedin.com/"> <img src="./assets/landing/Blog/image (8).png" alt="" width="20px" height="20px" style="background-color:greenyellow; padding: 10px; border-radius: 20px;"> Follws us on LinkedIn</a></p>
    </div>

    </div>
    <footer>
        <nav>
            <h1>All rights reserved @Developer:Mahendra</h1>
        </nav>
      </footer>


